#accounts-ui {
  padding-top: 15px;
  padding-right: 200px;
}

.side-nav-list {
  margin: 0 !important;
  list-style-type: none;
}

.side-nav-item-text {
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  margin: 0 !important;
}

.side-nav-item {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 !important;
}

.btn-filter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activity-filter {
  padding-bottom: 10px;
}

#event-container {
  background-color: #EBEBEB;
}

.main-nav-item {
  color: black;
}

@media (max-width: 850px) {
  .side-nav-container {
    display: none;
  }
}

.side-nav-container {
  width: 15%;
  background-color: #FFCF09;
  position:fixed;
  height:100%;
  left:0;
  top:51px;
  z-index:1;
}

#howitworks {
  padding-top: 100px;
}

.new-event {
  padding-top: 100px;
}

.btn-default{
  background-color: #FFCF09;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
}
