.navbar.navbar-default {
  margin: 0;
  padding: 0;
}

#accounts-ui {
  padding-top: 15px;
  padding-right: 200px;
}

.side-nav-list {
  list-style-type: none;
}

.side-nav-item-text {
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  text-align: center;
}

.side-nav-item {
  font-family: 'Ubuntu', sans-serif;
}

.event-item {
  list-style-type: none;
  padding-top: 10px;
}

#event-container {
  background-color: #EBEBEB;
}

.navbar {
  background-color: #FF7469;
  border-color: #FF7469;
  border-radius: 0;
}

.main-nav-item {
  color: black;
}

.events-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 85%;
  position:relative;
  z-index:2;
  margin-left: 100px;
}

.side-nav-container {
  width: 15%;
  background-color: #FFCF09;
  position:fixed;
  height:100%;
  left:0;
  top:51px;
  z-index:1;
}

.event-single-container {
  display: flex;
  background-color: #EBEBEB;
}
.event-picture-div {
  width: 20%;
}

.event-picture {

}

.event-information {
  width: 70%;
}

.needs-tab {
  margin-left: 5px;
}

.label{
  display: inline-block;
}

.btn-reserve {
  height: 150px;
  width: 100%;
}

.event-reserve-button {
  width: 10%;
}
