.navbar.navbar-default {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #FF7469;
  border-color: #FF7469;
  border-radius: 0;
}

#accounts-ui {
  padding-top: 15px;
  padding-right: 200px;
}

.side-nav-list {
  margin: 0 !important;
  list-style-type: none;
}

.side-nav-item-text {
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  margin: 0 !important;
}

.side-nav-item {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 !important;
}

.btn-filter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activity-filter {
  padding-bottom: 10px;
}

.event-item {
  list-style-type: none;
  padding-top: 10px;
}

#event-container {
  background-color: #EBEBEB;
}

.main-nav-item {
  color: black;
}

.events-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 85%;
  position:relative;
  z-index:2;
  margin-left: 100px;
}

@media (max-width: 850px) {
  .side-nav-container {
    display: none;
  }
}

.side-nav-container {
  width: 15%;
  background-color: #FFCF09;
  position:fixed;
  height:100%;
  left:0;
  top:51px;
  z-index:1;
}

.event-single-container {
  display: flex;
  background-color: #EBEBEB;
}
.event-picture-div {
  width: 20%;
}

.event-information {
  width: 70%;
}

.needs-tab {
  margin-left: 5px;
}

.label{
  display: inline-block;
}

#howitworks {
  padding-top: 100px;
}

.new-event {
  padding-top: 100px;
}

.btn-default{
  background-color: #FFCF09;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
}
