.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
​
.list-Item:hover {
  color: #FFCF09;
}
​
.color-yellow {
  color: #FFCF09;
}
​
#logo-header {
  margin-left: 20px;
  font-size: 1.6em;
}
​
#eventsContainer-title {
  font-size: 36px;
}
​
#eventsContainer-subHead {
  font-size: 25px;
}
​
.floater-left {
  float: left;
}
​
.secure-width {
  width: 70%;
}
