/*#FF7469 pink
#FFCF09 yellow*/

@media (max-width: 320px) {
  .taglineTwo {
    font-size: 1.8em;
  }
}

.navbar {
  background-color: #FF7469 !important;
  border-radius: 0;
  color: white !important;
}


.introContainer{
  text-align: center;
  font-size: 10px;

}

#inputContainer{
  position: relative;
  padding-top: 400px !important;
}

#navList{
  float:right !important;
  padding-right: 160px;
  position: relative;
  top: 12px !important;
}

// li a:hover{
//   color: #FFCF09 !important;
// }

#logoHeader{
  font-size: 1.3em;
  padding-left: 100px !important;
}

.boost{
  position: relative;
  bottom: 10px;
}

.listItem{
  border-right: solid 3px white !important;
  height: 20px !important;
  padding-right: 12px;
  color: white !important;

}
#mainContainer {
  background-image: url('http://impronto.com/claytonTest/assets/images/improntoBackground.png');
  background-size: cover;
}

#taglineTwo {
    font-weight: 700;
}

#footer {
  background-color: white;
  color: #FF7469;
}

.align-left {
  text-align: left !important;
}

.pink {
  color: #FF7469 !important;
}

.yellow {
  color: #FFCF09 !important;
}

.white {
  color: white !important;
}

.hiw-title {
  color: #FFCF09;
  font-weight: bold;
}

.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.info-answer {
  padding-bottom: 20px;
}

.muli {
  font-family: 'Muli', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.btn-primary {
  background-color: #FF7469;
  border-color: #FF7469;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #ff7e75;
  border-color: #ff7e75;
}

#createEvent {
  height: 60% !important;
  width: 75%;
  background-color: transparent;
  border-color: white;
  color: white;
  border-width: 2px;
}

#createEvent:hover, #createEvent:active {
  border-color: white;
  background-color: white;
  color: #FF7469;
}

#eventsContainer h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

#imagesSection {
  padding-top: 20px;
}

.ict {
  padding-bottom: 20px;
  color: white;
  font-weight: bolder;
}


#infoContainer {
  background-color: #FF7469;
  padding-bottom: 100px !important;
}

#eventsContainer {
  background-color: #FF7469;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#footer {
  a:hover, a:active {
    color: #ffff7c;
  }
}

#emailInput {
  position: relative;
  top: 15px;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  background: white;
  color: black;
}

#buttonDiv {
  position: relative;
  top: 20px;
}
#howItWorks {
  background-color: white;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: black;
}

.hiw-title {
  padding-top: 60px;
  font-weight: bolder;
}

.hiw-des-title {
  padding-top: 25px !important;
}

.hiw-image {
  padding-top: 75px;
}

.hiw-des {
  padding-bottom: 100px !important;
}

#howItWorks span {
  color: #ff7469;
}

#howItWorks i {
  color: #ff7469;
}

#howItWorks h5 {
  color: #ff7469;
}

#betaText {
  padding-top: 6px !important;
}


.figure-caption {
  color: white;
}

#addButton {
  width: 100% !important;
  height: 100% !important;
}

#figureButton {
  width: 100% !important;
  height: 100% !important;

  font-size: 15px;
}





#inputContainer {
  padding-top: 10px;
}

i:hover {
  color: #FFCF09;
}


/* Small Phones */
@media (max-width: 33em) {

  #mainContainer {
    width: 100%;
    height: 600px;
  }
  #mainContainer .need-space {
    padding-top: 10px;
  }

  #inputContent {
    padding-top: 10px;
  }

  #taglineOne {

  }

  #taglineTwo {

  }

  #eventsContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #infoContainer {
    background-size: cover;
    width: 100%;
    height: 100%;

  }

  #infoContainer .row {
    padding-top: 20px;
  }
}

/* Medium and Large Phones */
@media (min-width: 34em) {

  #mainContainer {
    width: 100%;
    height: 600px;
  }

  #mainContainer .need-space {
    padding-top: 10px;
  }

  #inputContent {
    padding-top: 10px;
  }

  #eventsContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .card-img-top {
    padding-left: 20px;
    padding-right: 20px;
  }

  #howItWorks .col-md-3 {
    padding-top: 0px !important;
  }

  #infoContainer {

    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #infoContainer .row {
    padding-top: 20px;
  }

}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {

  #mainContainer {
    width: 100%;
    height: 600px;
  }

  #mainContainer .need-space {
    padding-top: 20px;
  }

  #inputContent {
    padding-top: 20px;
  }

  .card-img-top {
    padding-left: 20px;
    padding-right: 20px;
  }

  #eventsContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #howItWorks .col-md-3 {
    padding-top: 0px !important;
  }

  #infoContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  #infoContainer .row {
    padding-top: 40px;
  }

}


/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {

  #mainContainer {
    width: 100%;
    height: 600px;
  }

  #mainContainer .need-space {
    padding-top: 20px;
  }

  #inputContent {
    padding-top: 0px;
  }

  #eventsContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .maitre-section {
    padding-left: 30px !important;
    /*align-content: center !important;*/
  }

  .card-img-top {
    padding-left: 0px;
    padding-right: 0px;
  }

  #howItWorks .col-md-3 {
    padding-top: 0px !important;
  }

  #infoContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #infoContainer .row {
    padding-top: 40px;
  }

}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {

  #mainContainer {
    width: 100%;
    height: 600px;
  }

  #mainContainer .need-space {
    padding-top: 20px;
  }

  #inputContent {
    padding-top: 0px;
  }

  #eventsContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #infoContainer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .card-img-top {
    padding-left: 0px;
    padding-right: 0px;
  }

  #infoContainer .row {
    padding-top: 40px;
  }

}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.list-Item:hover {
  color: #FFCF09;
}

.color-yellow {
  color: #FFCF09;
}

#logo-header {
  margin-left: 20px;
  font-size: 1.6em;
}

#eventsContainer-title {
  font-size: 36px;
}

#eventsContainer-subHead {
  font-size: 25px;
}




#emailForm{
  position: relative;
  bottom: 40px;

}

.pad20{
  padding-left: 20%;
}

.pad{
  padding-bottom: 15px;
}

.cardEdit{
padding-left: 20px !important;
}

.borderUp{
  border: 5px white solid;
}

.sizeDown{
  font-size: 35px;
}

.titleSize{
  padding-top: 10px;
}

.titleSize h4{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.quickAdjust{
  padding-bottom: 20%;
  padding-right: 20%;
}

.colorBckgrd{
  background: #ff7469 !important;
}

.alignMe{
  text-align: center;
}

.alignIm{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.alignMe h3{
  text-align: center;

}

.bumpUp{
position: relative;
bottom: 40px;
}

.whiteOut{
  color: white;
}

.betaAccessFade{
  opacity: 1.5;

}
